html{
	height: 100%;
}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;box-sizing: border-box;-moz-box-sizing:border-box;} 
body{background:#eee;color:#444;font-size:16px; font-family:"Microsoft YaHei";height: 100% } 
table{border-collapse: collapse;}
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 

a{text-decoration:none;} 
a:link{color:#666;} 
a:visited{color:#126ae4; text-decoration:none;} 
a:hover,a:active,a:focus{color:#126ae4;text-decoration:none;} 
.container{
	width: 960px;
	margin: 0 auto;
	background-color:#fff;
	overflow-x: hidden;
	padding:0 20px;
	min-height: 100%;
}
.clear{
	clear: both;
	display: block;
}
.login-wrap{
	height: 100%;
 
    width: 500px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    margin-top: 10%;
    background:#fff;
    border:1px solid #ced4da;
    border-radius: 3px;
    -webkit-border-radius:6px;
    box-shadow: 0px 0px 6px #d2d2d2;
    height: 360px;
}
.login-form{
	width: 290px;
	margin: 60px auto;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}
.form-input{
	display: block;
    width: 100%;
    padding:10px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;/*规定背景的绘制区域。border-box|padding-box（）|content-box;*/
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.form-group{
	margin-bottom: 15px;
	position: relative;

}
.login-form .login-btn{
	margin-top: 20px
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.form-group>.iconfont{
	position: absolute;
	left: 9px;
	top: 9px;
	font-size: 20px;
	color: #888
}
a[role="button"],.btn{
	display: inline-block;
	padding: 8px 15px;
    background: #ced4da;
    border-radius: 5px;
    border: none;
    user-select: none;/*用户不能选择文本*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}
a[role="button"],.btn-primary{
	color: #fff;
	background-color: #126ae4
}
a[role="button"],.btn-primary:hover{
	background-color: #0647a2;
}
a[role="button"],.btn-success{
	color: #fff;
	background-color:#5dc800;
}
a[role="button"],.btn-warning:{
	color: #fff;
	background-color: #f38f00
}
.login-form .btn{
	width: 100%;
	padding: 10px 15px;
	font-size: 16px;
}
.login-form .form-input{
	padding-left: 35px
}
.text-center{
	text-align: center!important;
}
.text-right{
	text-align: right!important;
}
.text-left{
	text-align: left!important;
}
.login-title{
	margin: 20px 0;
}
.login-title h3{
	font-size:20px; 
}
.text-primary{
	color:#126ae4;
}
.text-success{
	color: #5dc800;

}
.text-warning{
	color: #f38f00;
	
}
.left{
	float: left!important;
}
.right{
	float: right!important;
}
.headerL{
	width: 100px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}
.headerL .img-elem{
	width: 90px;
	height: 90px;
	border-radius: 5px;
}

.headerR{
	width: 798px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	position: relative;
}
.headerR .text-elem{
	margin-bottom: 10px;
}
.text-light{
	color: #888;
}
.headerR .write-btn{
	position: absolute;
	right:0;
	top:0;
}
.text-nowrap{
	white-space: nowrap!important;
}
.main{
	margin-top: 25px;
}
.main>.list{
	width: 100%;
}
a[role="button"],.btn-outline-light{
	border:1px solid #999;
	color: #999;
	background-color:rgba(206, 209, 77, 0);

}
a[role="button"],.btn-sm{
	padding: 4px 10px;
	font-size: 13px
}

.table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}
.table th, .table td {
    padding:10px 0;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
}
#article-list .edit-btn{
	cursor: pointer;
	font-size: 16px!important
}
.main-title{
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 10px
}
.main-title >strong{
	display: inline-block;
    padding: 10px 0;
    border-bottom: 2px solid #126ae4;
    font-size: 22px;
}
.form-group label{
	display: inline-block;
	margin-bottom: 5px;

}

.title-input{
	display: block;
	border: 0;
	border-bottom: 1px solid #dee2e6;
	padding: 22px 0;
	text-align: center;
	width: 100%;
	font-size: 22px;
	font-family: "Microsoft YaHei";
	font-weight: 600
}
input:-ms-input-placeholder{
    color: #444;
    font-family: "Microsoft YaHei";
    font-weight:600px;
}

input::-webkit-input-placeholder{
    color: #444;
    font-family: "Microsoft YaHei";
    font-weight: 600px;

}
.show-detail{
	padding: 30px
}
.show-detail p{
	font-size: 16px;
	line-height: 1.5;
	margin: 30px 10px 0;

}